.container{style: 'margin-top:40px'}
  .row
    .col-sm-6.col-md-4.col-md-offset-4
      .panel.panel-default
        .panel-heading
          %strong Sign up to continue
        .panel-body
          .row
            .center-block
              %img.profile-img{src: 'https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=120'}/
          .row.text-center
            .col-sm-12.col-md-10.col-md-offset-1
              = form_for(resource, as: resource_name, url: user_registration_path) do |f|
                = devise_error_messages!
                .field
                  = f.label :email
                  %br/
                  = f.email_field :email, autofocus: true
                .field
                  = f.label :password
                  - if @minimum_password_length
                    %em
                      (#{@minimum_password_length} characters minimum)
                  %br/
                  = f.password_field :password, autocomplete: 'off'
                .field
                  = f.label :password_confirmation
                  %br/
                  = f.password_field :password_confirmation, autocomplete: 'off'

                = f.fields_for :profile_attributes, resource.build_profile do |f|
                  .field
                    = f.label :first_name
                    %br/
                    = f.text_field :first_name
                  .field
                    = f.label :last_name
                    %br/
                    = f.text_field :last_name
                  .actions.butt
                    = f.submit 'Sign up'
                    %br/
                    = render 'devise/shared/links'



