.row
  .col-xs-12
    %h2 Posts
    .col-md-4
      %h2 New post
      = form_for [@user, @user.posted_posts.build], remote: true do |f|
        .field
          = f.text_area :text
        .field
          = f.file_field :image
        .actions
          = f.submit 'Save'
  .posts_block{id: "post-load-#{user.id}"}
    - user.posts.order(created_at: :desc).first(3).each do |post|
      = render 'users/all_posts', user: user, post: post
      = link_to 'load more', user_post_path(user, page: 2), remote: true, class: 'load-post'