.container
  .row
    .col-sm-3
      .row
        .col-lg-12
          .col-xs-12
            = image_tag("#{@user.profile.avatar.url}", class: 'block-img')
            -#= @user.followers(User).where(@user.follows(User)).count
      .row.panel_friends
        .col-xs-12.panel.panel-default
          .row.panel-heading.text-center
            - if @user.followers(User).count == 0
              %h2 Not friends
            - else
              - @user.followers(User).first(6).each do |user|
                .col-xs-4.block_friends
                  = link_to(image_tag("#{user.profile.avatar.url}", class: 'show-img'), user_path(user))
                  %br
                  = link_to("#{user.profile.first_name}", user_path(user))
    .col-xs-12.col-sm-8
      %ul.list-group
        %li.list-group-item #{@user.profile.first_name}
        %li.list-group-item #{@user.profile.last_name}
        %li.list-group-item
          %i.glyphicon.glyphicon-heart
          #{@user.profile.interests}
        %li.list-group-item
          %i.glyphicon.glyphicon-calendar
          #{@user.profile.bd}
        %li.list-group-item
          %i.fa.fa-phone
          #{@user.profile.telephone}
        %li.list-group-item
          %i.fa.fa-envelope
          #{@user.email}
        - if @user.id == current_user.id
          = link_to 'Edit', edit_user_path, class: 'btn btn-primary btn-sm btn-hover pull-left', style: 'font-weight: bold'
        - if current_user != @user
          .follow-unfollow
            = render 'users/follow_button', user: @user
      %h2 About Me
      .blockquote #{@user.profile.about}

      .row
        .col-xs-12
          %h2 Posts
          = render 'posts', user: @user
