%h2 Change your password
= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f|
  = devise_error_messages!
  = f.hidden_field :reset_password_token
  .field
    = f.label :password, "New password"
    %br/
    - if @minimum_password_length
      %em
        (#{@minimum_password_length} characters minimum)
      %br/
    = f.password_field :password, autofocus: true, autocomplete: "off"
  .field
    = f.label :password_confirmation, "Confirm new password"
    %br/
    = f.password_field :password_confirmation, autocomplete: "off"
  .actions
    = f.submit "Change my password"
= render "devise/shared/links"


%body.bg
  .container
    %h1.title.text-center Change your password
    .row
      .main-login.main-center
        = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f|
          = devise_error_messages!
          = f.hidden_field :reset_password_token
          .field.text-center
            = f.label :password, "New password"
            %br/
            - if @minimum_password_length
              %em
                (#{@minimum_password_length} characters minimum)
              %br/
            = f.password_field :password, autofocus: true, autocomplete: "off"
          .field.text-center
            = f.label :password_confirmation, "Confirm new password"
            %br/
            = f.password_field :password_confirmation, autocomplete: "off"
          .actions.text-center
            = f.submit "Change my password"
            = render "devise/shared/links"
